* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif
}

.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 60px;
}

.header li {
    /* display: flex; */
    list-style: none;
    margin: 4px 0px;
    padding-left: 30px;
    /* font-size: 18px; */

}

.header button {
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.header ul {
    display: flex;
    /* justify-content:space-between ; */
}

.tab {
    border-bottom: 1px solid gainsboro;
    padding: 25px 0px;
    display: flex;
    justify-content: space-around;
    /* flex-grow: 1; */
    align-items: center;
}

.bar {
    /* justify-content: flex-end; */
    display: none;
}

.menu ul {
    display: flex;
}

.menu li {
    list-style: none;
    padding: 0px 25px;
    font-size: 18px;
    font-weight: 600;
}

.menu li a {
    color: black;
    text-decoration: none;
}

.menu li a:hover {
    animation-name: border;
    border-bottom: 2px solid red;
    /* display: none; */
}

@keyframes border {}

.icon i {
    padding: 0px 15px;
}

.page-dropdown {
    position: relative;
    display: inline-block;
}  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: white;
    min-width: 160px;
    /* background-color: white; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 10;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    padding: 5px 20px;
    text-transform: capitalize;
    line-height: 2;
  }
  
  .page-dropdown:hover .dropdown-content {
    display: block;
  }



@media (max-width: 425px) {
    .menu {
        display: none;
    }

    .icon {
        display: none;
    }

    .logo {
        display: flex;
    }

    .header {
        display: none;
    }

    .tab {
        justify-content: space-between;
    }

    .bar {
        margin-right: 15px;
        display: block;
    }

    .shop-link {
        padding-left: 0px;
    }
}

@media (min-width: 426px) and (max-width:767px) {
    .menu {
        display: none;
    }

    .icon {
        display: none;
    }

    .logo {
        display: flex;
    }

    .header {
        display: none;
    }

    .bar {
        margin-right: 15px;
        display: block;
    }

}

@media (min-width: 768px) and (max-width: 1100px) {

    .menu li {
        padding: 0px 10px;
    }

    .icon i {
        padding: 0px 5px;
    }
}

.iphone h1{
    color: #111111;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 18px;
    text-align: center;
}

.para-iphone{
    display: flex;
    justify-content: center;
}

.para-iphone li{
    list-style: none;
    font-size: 15px;
    color: #3d3d3d;
    display: inline-block;
    margin-right: 40px;
    position: relative;
}

.para-iphone li ::after {
    position: absolute;
    right: -25px;
    top: 0;
    content: "|";
}

.iphone{
    background: #f3f2ee;
    padding-top: 125px;
    padding-bottom: 190px;
    position: relative;
}

.iphone img{
    position: absolute;
    border-radius: 5px;
    top: 340px;
    left: 50px;
}

.details{
    margin-top: 580px;
    display: flex;
}

.detail{
    padding: 10px 250px;
    position: relative;
}

.detail p{
    font-size: 18px;
    line-height: 34px;
    font-family: "Nunito Sans", sans-serif;
    color: #3d3d3d;
    font-weight: 400;
    margin: 0 0 15px 0;
}

.share{
    position: absolute;
    top: 10px;
    left: 100px;
}

.share i{
    color: #ffffff;
    font-size: 18px;
    height: 46px;
    display: inline-block;
    width: 46px;
    border-radius: 50%;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
}

.share a{
     display: list-item;
     border-radius: 50%;
     font-size: 18px;
     list-style: none;
     margin: 0px 20px;
     margin-top: 15px;
}


.quote p{
    color: #111111;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    /* margin-bottom: 20px; */
    line-height: 25px;
    margin: 0 0 15px 0;
    
}

.quote {
    background: #f3f2ee;
    padding: 50px 40px 35px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 45px;
    margin-top: 45px;

}

.quote h6{
    color: #e53637;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0;
}

.quote i {
    position: absolute;
    font-size: 16px;
    color: #ffffff;
    height: 50px;
    width: 50px;
    background: #e53637;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    left: 40px;
    top: -25px;
}


.author{
    display: flex;
    margin: 0px 250px;
    margin-top: 30px;
    gap: 380px;
    flex-wrap: wrap;
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
    margin-bottom: 70px;
}

.author-left{
    display: flex;
}

.author-left img{
    display: inline-block;
    margin-right: 15px;
    height: 46px;
    width: 46px;
    border-radius: 50%;
}

.author-left h5{
    color: #111111;
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
}

.author-right a{
    display: inline-block;
    margin-top: 10px;
    color: #111111;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}

.free-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 250px;
}

.block-left{
    display: block;
    border: 1px solid #ebebeb;
    padding: 25px 30px 30px;
    margin-bottom: 30px;
    width: 360px;
}

.block-left p{
    color: #b7b7b7;
    margin-bottom: 10px;

    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    /* color: #3d3d3d; */
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;

}

.block-left h5{
    color: #111111;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.block-left span {
    margin-right: 10px;
}

.block-right{
    text-align: right;
    display: block;
    border: 1px solid #ebebeb;
    padding: 25px 30px 30px;
    margin-bottom: 30px;
    width: 360px;
}

.block-right p{
    color: #b7b7b7;
    margin-bottom: 10px;

    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    /* color: #3d3d3d; */
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;

}

.block-right h5{
    color: #111111;
    font-size: 20px;
    line-height: 30px;
    font-weight:700;
}

.block-right span{
    margin-left: 10px;
}


.blog-comment {
    margin: 0px 250px;
    margin-top: 40px;
    text-align: center;
    /* border: 2px solid black; */
}


.blog-comment h4{
    color: #333333;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
    font-size: 24px;
}

.blog-comment form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-comment input {
    height: 50px;
    width: 30%;
    border: 1px solid #e1e1e1;
    padding-left: 20px;
    font-size: 15px;
    color: #b7b7b7;
    margin-bottom: 30px;
    transition: all, 0.3s;
}

.blog-comment textarea{
    height: 120px;
    width: 100%;
    border: 1px solid #e1e1e1;
    padding-left: 20px;
    padding-top: 12px;
    font-size: 15px;
    color: #b7b7b7;
    margin-bottom: 24px;
    resize: none;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.blog-comment button{
    /* text-align: center; */
    margin: 0px 260px;
    font-size: 14px;
    color: #ffffff;
    background: #111111;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 4px;
    padding: 14px 35px;
}

















































.the-end{
    background-color: #111111;
    display: flex;
    margin-top: 100px;
    gap: 120px;
    justify-content: center;
    padding: 50px 0px;

}

.footer-1 {
    color: white;
    font-weight: 400;
    line-height: 5;
    text-align: left;
}

.footer-1 p {

    color: #b7b7b7;
    margin-bottom: 30px;
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
}

.footer-2{
    display: flex;
    gap: 130px;
}

.footer-2 h6{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer-2 ul li {
    list-style: none;
}
.footer-2 ul li a {

    color: #b7b7b7;
    font-size: 15px;
    line-height: 3;
    text-decoration: none;
}

.footer-3 h6 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer-3 p{
    color: #b7b7b7;
    margin-bottom: 30px;
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;

}

.footer-3 {
    line-height: 3;
}

.footer-3 input {

    color: white;
    width: 250px;
    height: 50px;
    background-color: #111111;
    border: none;
    border-bottom: 2px solid white;
}

.footer-3 i {
    color:  #b7b7b7;
}

.main-footer {

    display: flex;
    justify-content: center;
    border-top: rgba(255, 255, 255, 0.1);
    color: #b7b7b7;
    margin-bottom: 0;
    font-size: 15px;
    padding: 20px 0px ;
    background-color: #111111;
   border-top: 1px solid rgba(255, 255, 255, 0.1); 
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 25px;
}

.main-footer p {
    color: #b7b7b7;
}

  @media (max-width: 425px) {

    .the-end{

        display: list-item;
    }

    .blog{
        margin-left: 0px;
        padding-left: 0px;
    }
    
    .footer-1{
        padding-left: 30px;
    }

    .footer-2{
        display: list-item;
        padding-left: 30px;
    }
    
    .shopping-2{
        margin-top: 30px;
    }

    .footer-3{
        padding-left: 30px;
        margin-top: 30px;
    }

    .main-footer {
        padding-left: 30px;
    }
}


@media (min-width: 426px) and (max-width:1050px){

    .the-end{
        padding-left: 50px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    }

    .footer-1{
        padding-right: 0px;
        margin-right: 0px;
        /* border: 2px solid white; */
    }
    .footer-2{
        padding-left: 0px;
        margin-left: 0px;
        gap: 20px;
        /* border: 2px solid white; */
    }

    .shopping-1{ 
        padding-left: 0px;
        margin-left: 0px;
    }

    .shopping-2{
        padding-left: 0px;
        margin-left: 0px;
    }
}


@media (max-width: 425px) {

    .the-end{

        display: list-item;
    }

    .blog{
        margin-left: 0px;
        padding-left: 0px;
    }
    
    .footer-1{
        padding-left: 30px;
    }

    .footer-2{
        display: list-item;
        padding-left: 30px;
    }
    
    .shopping-2{
        margin-top: 30px;
    }

    .footer-3{
        padding-left: 30px;
        margin-top: 30px;
    }

    .main-footer {
        padding-left: 30px;
    }
}


@media (min-width: 426px) and (max-width:1050px){

    .the-end{
        padding-left: 50px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    }

    .footer-1{
        padding-right: 0px;
        margin-right: 0px;
        /* border: 2px solid white; */
    }
    .footer-2{
        padding-left: 0px;
        margin-left: 0px;
        gap: 20px;
        /* border: 2px solid white; */
    }

    .shopping-1{ 
        padding-left: 0px;
        margin-left: 0px;
    }

    .shopping-2{
        padding-left: 0px;
        margin-left: 0px;
    }
}
